[Desktop Entry]
Version=1.0
Type=Application
Name=Matlab
Comment=A high-level language for numerical computation and visualization.
# Exec=env env LD_PRELOAD=/usr/lib/libfreetype.so.6:/usr/lib/libstdc++.so.6:/usr/lib/libgio-2.0.so:/usr/lib/libglib-2.0.so:/usr/lib/libgmodule-2.0.so:/usr/lib/libgobject-2.0.so:/usr/lib/libgthread-2.0.so matlab -desktop
Exec=/home/mean/.Matlab/bin/matlab -desktop
Icon=matlab
Terminal=false
StartupNotify=false
Categories=Development;Education;science;Mathematics;IDE;
MimeType=text/x-matlab;
